* {
    margin: 0;
    padding: 0;
}
.sider-bar{
    height: 100vh;
    width: 200px;
    border-right: 1px solid #ccc;
    float: left;
}
.sider-bar ul li{
    text-align: center;
    line-height: 40px;
    list-style:none;  
    color: #fff;
}
.module-container{
    width: calc(100% - 225px);
    float: left;
    height: 100vh;
    padding: 0 10px;
    overflow: auto;
}